{{- /* Shared partials for HA add-on README templates */ -}}

{{- define "badges" -}}
[![Version](https://img.shields.io/badge/ha%20app%20version-{{ .addon.version }}-blue?style=flat-square&logo=homeassistant&logoColor=white)](https://github.com/{{ .repo }}/tree/main/{{ .addon.slug }})
{{- if ne .addon.tag "" }}
&nbsp; [![Current](https://img.shields.io/badge/image%20version-{{ .addon.tag }}-blue?style=flat-square&logo=docker&logoColor=white)]({{ .addon.project }})
{{- if eq .addon.is_up_to_date true -}}
&nbsp; [![Up to Date](https://img.shields.io/badge/upstream-up%20to%20date-green?style=flat-square)]({{ .addon.project }})
{{- else if eq .addon.is_up_to_date false -}}
&nbsp; [![Out of Date](https://img.shields.io/badge/upstream-out%20of%20date-yellow?style=flat-square)]({{ .addon.project }})
{{- else if and (ne .addon.latest_tag "") (ne .addon.latest_tag "null") -}}
&nbsp; [![Latest](https://img.shields.io/badge/latest-{{ .addon.latest_tag }}-blue?style=flat-square)]({{ .addon.project }})
{{- end }}
{{- end }}
{{- range .addon.arch }}
&nbsp; [![{{ . }}](https://img.shields.io/badge/platform-{{ . }}-informational?style=flat-square&logo=linux&logoColor=white)]()
{{- end }}
{{- if .addon.ingress }}
&nbsp; [![Ingress](https://img.shields.io/badge/ingress-enabled-green?style=flat-square&logo=homeassistant&logoColor=white)]()
{{- end }}
{{- end -}}

{{- define "icon" -}}
{{- $size := .size | default "16" -}}
{{- $repo := "" -}}
{{- if has . "repo" -}}
{{- $repo = .repo -}}
{{- else -}}
{{- $repo = env.Getenv "REPOSITORY" -}}
{{- end -}}
{{- $branch := "main" -}}
{{- $slug := .addon.slug -}}
{{- $full_url := printf "https://raw.githubusercontent.com/%s/%s/%s/icon.png" $repo $branch $slug -}}
{{- if .addon.has_icon }} <img src="{{ $full_url }}" width="{{ $size }}" height="{{ $size }}" style="margin-right: 4px;">{{- end }}
{{- end -}}

{{- define "project-link" -}}
App for [{{ .addon.name }} project]({{ .addon.project }}).
{{- end -}}
