---
name: CI
on:
  pull_request:
    types: [labeled, unlabeled, opened, synchronize, reopened, ready_for_review]
    branches: ["main"]
    paths:
      - "cleanuparr/**"
      - "huntarr/**"
      - "kapowarr/**"
      - "profilarr/**"
      - "romm/**"
  workflow_dispatch:
permissions:
  contents: read
  actions: write
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    name: "Lint"
    if: ${{ !github.event.pull_request.draft }}
    uses: ./.github/workflows/lint.yaml
  build:
    name: "Build"
    if: ${{ !github.event.pull_request.draft }}
    uses: ./.github/workflows/builder.yaml
    with:
      base_ref: ${{ github.event.pull_request.base.ref }}
