{{- $repo := env.Getenv "REPOSITORY" -}}
{{- $repo_url := env.Getenv "REPOSITORY_URL" -}}
{{- $author_name := env.Getenv "AUTHOR_NAME" | default "rig" -}}
{{- $addons := ds "addons" -}}
# Home Assistant Add-ons

[![Add Repository with my.home-assistant.io][add-repository-image]][add-repository-button]

[add-repository-image]: https://my.home-assistant.io/badges/supervisor_add_addon_repository.svg
[add-repository-button]: https://my.home-assistant.io/redirect/supervisor_add_addon_repository/?repository_url={{ $repo_url }}
[ha-addons]: https://github.com/{{ $repo }}

## About

Home Assistant allows anyone to create add-on repositories to share their
add-ons for Home Assistant easily. This repository contains my personal, experimental
but free to use [Home Assistant Add-ons][ha-addons].

## Usage

Adding this add-ons repository to your Home Assistant instance is pretty
straightforward. In the Home Assistant add-on store, a possibility to
add a repository is provided.

Click on the above button or follow the steps below:

1. Navigate in your Home Assistant frontend to **Supervisor -> Add-on Store**
1. Add this new repository by URL (`{{ $repo_url }}`)
1. Find the add-on that you want to use and click it
1. Click on the "INSTALL" button

## Available Add-ons

{{- range $addons }}
### {{- if .has_icon }} <img src="./{{ .slug }}/icon.png" width="16" height="16" style="margin-right: 4px;">{{- end }} [{{ .name }}](./{{ .slug }}/)
App for [{{ .name }} project]({{ .project }}).

[![Version](https://img.shields.io/badge/ha%20app%20version-{{ .version }}-blue)](https://github.com/{{ $repo }}/tree/main/{{ .slug }})
{{- if ne .tag "" }}
&nbsp; [![Current](https://img.shields.io/badge/image%20version-{{ .tag }}-blue)]({{ .project }})
{{- /* Show conditional up-to-date badge based on registry check */ -}}
{{- if eq .is_up_to_date true -}}
&nbsp; [![Up to Date](https://img.shields.io/badge/upstream-up%20to%20date-green)]({{ .project }})
{{- else if eq .is_up_to_date false -}}
&nbsp; [![Out of Date](https://img.shields.io/badge/upstream-out%20of%20date-yellow)]({{ .project }})
{{- else if and (ne .latest_tag "") (ne .latest_tag "null") -}}
&nbsp; [![Latest](https://img.shields.io/badge/latest-{{ .latest_tag }}-blue)]({{ .project }})
{{- end }}
{{- end }}
{{- range .arch }}
&nbsp; [![{{ . }}](https://img.shields.io/badge/platform-{{ . }}-informational)]()
{{- end }}
{{- if .ingress }}
&nbsp; [![Ingress](https://img.shields.io/badge/ingress-enabled-green)]()
{{- end }}

{{ .description }}

{{- end }}
