{{- $repo := env.Getenv "REPOSITORY" -}}
{{- $repo_url := env.Getenv "REPOSITORY_URL" -}}
{{- $slug := env.Getenv "ADDON_SLUG" -}}
{{- $addons := ds "addons" -}}
{{- range $addons }}
{{- if eq .slug $slug }}
# {{- if .has_icon }} <img src="./icon.png" width="16" height="16" style="margin-right: 4px;">{{- end }} {{ .name }}

[![Version](https://img.shields.io/badge/ha%20app%20version-{{ .version }}-blue)](https://github.com/{{ $repo }}/tree/main/{{ .slug }})
{{- if ne .tag "" }}
&nbsp; [![Current](https://img.shields.io/badge/image%20version-{{ .tag }}-blue)]({{ .project }})
{{- /* Show conditional up-to-date badge based on registry check */ -}}
{{- if eq .is_up_to_date true -}}
&nbsp; [![Up to Date](https://img.shields.io/badge/upstream-up%20to%20date-green)]({{ .project }})
{{- else if eq .is_up_to_date false -}}
&nbsp; [![Out of Date](https://img.shields.io/badge/upstream-out%20of%20date-yellow)]({{ .project }})
{{- else if and (ne .latest_tag "") (ne .latest_tag "null") -}}
&nbsp; [![Latest](https://img.shields.io/badge/latest-{{ .latest_tag }}-blue)]({{ .project }})
{{- end }}
{{- end }}
{{- range .arch }}
&nbsp; [![{{ . }}](https://img.shields.io/badge/platform-{{ . }}-informational)]()
{{- end }}
{{- if .ingress }}
&nbsp; [![Ingress](https://img.shields.io/badge/ingress-enabled-green)]()
{{- end }}

{{ .description }}
{{- $translations_path := printf "%s/translations/en.yaml" .slug }}
{{- $translations_content := "" }}
{{- if file.Exists $translations_path }}
{{- $translations_content = file.Read $translations_path | data.YAML }}
{{- end }}

## Documentation

For full documentation, see [DOCS.md](./DOCS.md).
{{- if and $translations_content (has $translations_content "configuration") }}

## Configuration

This add-on provides the following configuration options:

| Option | Description |
|--------|-------------|
{{- range $key, $option := $translations_content.configuration }}
| **{{ $option.name }}** | {{ $option.description }} |
{{- end }}
{{- end }}

## Project

{{- if .project }}
This add-on is a wrapper for the [{{ .name }} project]({{ .project }}).
{{- end }}
{{- end }}
{{- end }}
